/* body {
}

h1 {
    color:firebrick;
    line-height: 2;
    font-weight: bold;
} */
 body{
    color: crimson;
 }

 .titulo-da-pagina {
    color: saddlebrown;
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;

 }

 .titulo-da-pagina {
    color: crimson;
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    
 }